// @import 'vendor/reset';
@import 'blocks/vars';
@import 'mixins';
// @import "./vendor/animate";


@import 'fonts';
@import 'settings';


html,body{
  height: 100%;
   margin: 0;
   font-family: var(--font-family);
   color: #fff;
   font-weight: 400;
   font-size: 16px;
   position: relative;
   z-index: 1;
}
.canvas{
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
}

.main{
  height: 100%;
  flex: 1 0 auto;
  position: relative;
  z-index: 3; 
}

// ======blocks=========

@import 'blocks/container';
@import 'blocks/page';
@import 'blocks/header';
// first-page
@import 'blocks/hero';
@import 'blocks/advantages';
@import 'blocks/services';
@import 'blocks/vgnb';
@import 'blocks/price';
@import 'blocks/calculator';
@import 'blocks/clients';
@import 'blocks/about';
@import 'blocks/vacancy';
@import 'blocks/order';
// end first page

//second page
// @import 'blocks/ahero';
// @import 'blocks/includes';
// @import 'blocks/teams';
// @import 'blocks/aadventages';
//конец второй страницы
//вакансии
// @import 'blocks/ahero';
// @import 'blocks/vabout';
// @import 'blocks/questions';
// @import 'blocks/vaclist';
// @import 'blocks/order';
//конец вакансий

//спецтехника
// @import 'blocks/shero';
// @import 'blocks/technika';
//конец спецтехники

@import 'blocks/footer';






