.ahero {
    padding-top: 300px;
    padding-bottom: 170px;
    @include bg-cover;
}

.ahero__inner {

    & h1 {
        font-family: var(--second-family);
        font-size: clamp(32px,5vw,50px);;
        line-height: 130%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #fff;
        padding-bottom: 34px;
    }

    & p {
        font-size: clamp(20px, 4.8vw, 28px);
        line-height: 136%;
        color: #fff;
        max-width: 900px;
        margin: 0;
        padding: 0;
    }
}