.calculator__title__circul {
  background-color: var(--accent-color);
}

.calculator {
  position: relative;

  &:before {
    content: "";
    // width: 100%;
    // height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 50%;
    z-index: 0;
    background-color: white;

    @include tablet{
      background-color: transparent;
    }
  }

  &:after {
    content: "";
    // width: 100%;
    // height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 50%;
    z-index: 0;
    background: rgba(238, 236, 232, 0.25);
  }

  & * {
    position: relative;
    z-index: 1;
  }
}



.calculator__summ {
  @include small-tablet {
    position: static !important;
    max-width: max-content;
    // margin-left: auto;
    margin-right: auto !important;
    flex-direction: row !important;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
  }
}

/* Для WebKit (Chrome, Safari, Opera) */
input[type=range]::-webkit-slider-runnable-track {
  background-color: #d9d9d9;
  /* неактивный цвет */
  height: 5px;
  /* толщина ползунка */
}

/* Для Gecko (Firefox) */
input[type=range]::-moz-range-track {
  background-color: #d9d9d9;
  /* неактивный цвет */
  height: 5px;
  /* толщина ползунка */
}

/* Для Edge */
input[type=range]::-ms-track {
  background-color: #d9d9d9;
  /* неактивный цвет */
  height: 5px;
  /* толщина ползунка */
}

/* Для WebKit (Chrome, Safari, Opera) */
input[type=range]::-webkit-slider-thumb {
  background-color: #FFE300;
  /* активный цвет слева */
}

/* Для Gecko (Firefox) */
input[type=range]::-moz-range-thumb {
  background-color: #FFE300;
  /* активный цвет слева */
}

/* Для Edge */
input[type=range]::-ms-thumb {
  background-color: #FFE300;
  /* активный цвет слева */
}


.calculator__numbers{
  fill: #A0A0A0;
  transition: all 0.3s linear;
  
  &.active{
    fill: var(--accent-color);
    stroke-width: 4px;

  }

}
.calculator__circul {
  transition: all 0.3s linear;

  &.active{
    fill: var(--accent-color);
    stroke-dasharray: 0;
    stroke-width: 4px;
    stroke: black;
  }
}

#calculatorsvg{
  height: clamp(300px, 34vw, 731px);
  width: clamp(479px, 54vw ,1169px);
}

.calculator__summ__bottom, .calculator__summ__top{
  @include tablet{
    padding: 20px !important;
  }
}

.calculator__inner{
  @include small-tablet{
    display: none;
  }
}