.order__inner__form__column {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    & .order__input {
        background: #fff;
        border: 1px solid #b7b7b7;
        border-radius: 20px;
        padding: 21px 25px;
        font-weight: 400;
        line-height: 100%;
        color: #3b3a39;

        &:active, &:focus{
            outline: none;
            border: 1px solid var(--accent-color);
        }
    }

    & .order__submit {
        border-radius: 20px;
        background: #eeece8;
        line-height: 100%;
        color: #3b3a39;
        max-width: min-content;
        padding: 21px 40px;
        font-size: 16px;
        border: 1px solid transparent;
        cursor: pointer;
        transition: all 0.3s linear;

        &:hover {
            border-color: var(--accent-color);
            color: var(--accent-color);
        }
    }
}

.order__inner__form__data {
    color: #000;

    @media(max-width:1350px){
        padding: 20px 20px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    & p {
        font-weight: 500;
        font-size: clamp(14px, 4vw, 20px);
        line-height: 136%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        text-align: center;
    }

    & a {
        font-family: var(--second-family);
        font-size: clamp(20px, 4vw, 30px);
        line-height: 95%;
        text-align: center;
    }
}

.order__inner__form__data__mail {
    font-family: var(--font-family) !important;
    font-weight: 500;
    font-size: 20px !important;
    line-height: 86% !important;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
}

.order{

    & img{
        @include for-desktop{
            left: 15% !important;
            opacity: 0.8;
        }

        @include tablet{
            top: -200px !important;
            left: 50% !important;
            transform: translateX(-50%);
        }
        
        @include small-tablet{
            top: -175px !important;
        }
        @include mobile{
            top: -150px !important;
        }
        @include small-mobile{
            top: -125px !important;
        }
    }
}

.order__inner__form{
    position: relative;
    z-index: 1;
}

.order__inner{
    @include tablet{
        display: flex !important;
        flex-direction: column;
        padding-bottom: 40px;
    }
}