.price {
    padding-bottom: clamp(40px, 4vw ,100px);
}

.price__inner {
    & li {
        padding: 18px 0;
        font-weight: 600;
        font-size: clamp(20px, 3vw, 28px);
        line-height: 136%;
        color: #000;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);

        @include for-desktop{
            padding: 10px 0;
        }
    }
}

.price__subtitle {}

.price__inner__img {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;

    @include for-desktop{
        position: static;
    }
}