.questions {
    @include bg-cover;
    padding-bottom: 110px;

    & h2 {
        font-family: var(--second-family);
        font-size: clamp(20px, 4vw, 36px);
        line-height: 194%;
        letter-spacing: 0.02em;
        color: #fff;

        @include tablet{
            line-height: 1.3;
        }
    }
}

.questions__inner{
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet{
        align-items: flex-start;
    }
}

.questions__inner__social {
    font-size: clamp(18px, 4vw, 32px);
    line-height: 119%;
    color: #fff;
    padding-top: 20px;

    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 60px;

    @include tablet{
        margin-bottom: 40px;
    }

    @include small-tablet{
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 20px;
    }

    ul {
        display: flex;
        gap: 10px;
     }
}

.questions__inner__link{
    display: flex;
    gap: 40px;

    @include small-tablet{
        flex-wrap: wrap;
        gap: 20px;
    }
}