<header style="position: absolute; top: 0; left: 0; right: 0;">
    <div class="header__top container"
        style="display: flex; justify-content: space-between; align-items: center; padding: 35px 0;">
        <div class="header__top__item" style="display: flex; align-items: center; column-gap: 30px;">
            <a href="#"><img src="./assets/images/header/logo.svg" alt="logo" width="113" height="36"></a>
            <p class="h-reset" style="font-size: 10px; text-transform: uppercase; line-height: 150%;">
                Горизонтально-направленное бурение <span style="display: block;">в Москве и области</span></p>
        </div>
        <div class="header__top__item" style="display: flex; flex-direction: column; align-items: center;">
            <a href="tel:+74951516485" style="font-weight: 800; font-size: 20px; line-height: 143%;">+7 (495) 151-64-85</a>
            <button class="btn-reset" style="font-weight: 600; text-transform: uppercase; text-decoration: underline;">ЗАКАЗАТЬ
                ЗВОНОК</button>
        </div>
    </div>
    <ul class="list-reset header__bottom container" style="font-weight: 800; line-height: 100%; text-transform: uppercase; display: flex; justify-content: space-between; column-gap: 20px; align-items: center;">
        <li><a href="">Услуги</a></li>
        <li><a href="">Цены</a></li>
        <li><a href="">Калькулятор</a></li>
        <li><a href="">Фото работ</a></li>
        <li><a href="">О компании</a></li>
        <li><a href="">Контакты</a></li>
    </ul>
</header>