<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>
    <div class="page">
        {{> header }}

        <main class="main">
            {{> body }}
        </main>
        {{> footer }}

    </div>
    <script src="assets/js/app.js"></script>
    <script>
        function toggleAccordion(header) {
            var content = header.nextElementSibling;
            let container = header.closest('.accordion');
            var icon = header.querySelector('.accordion-icon');
            content.style.display = content.style.display === 'block' ? 'none' : 'block';
            icon.classList.toggle('active');
            container.classList.toggle('active');
        }

    </script>
</body>

</html>